# Ignore virtual environment
venv/
venv3/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
venv3/ 
